header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0.8;
  width: 100%;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  border: var(--section-border);
  border-radius: 8px;
}

header > div {
  width: 100%;
  list-style: none;
  padding: 10px;
  gap: 20px;
  display: flex;
  background-color: rgb(46, 45, 45);
  border-radius: 8px;

}

.menu-bar {
  width: 100%;
}

Button {
  transition: color 1s ease;
}

Button:hover {
  color: white;
  transition: color 0.5s ease
}


.content-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(5, 15, 37, 0.8);
  width: 100%;
  height: 100vh;
  color: white;
  padding: 20px;
  overflow: auto;
  border: var(--section-border);
  border-radius: 8px;
  gap: 1rem;
}

.sidebar {
  background-color: rgba(26, 67, 149, 0.8);
  border: var(--section-border);
  border-radius: 8px;;
  padding: 10px;
}

.stat-icon {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  vertical-align: middle;
}