ul li {
    list-style: none;
}

.sidebar-view ul {
    display: block;
    list-style: none;
    padding: 5px;
    font-size: medium;
}

.warband-view {
    display: flex;
    flex-direction: column;
    margin: 2vw;
    gap: 1vw;
}

.warband-view .expandable-container {
    border: white 1px solid;
    border-radius: 8px;;
    padding: 5px;
}

.sidebar-item {
    cursor: pointer;
    font-size: medium;
    padding: 5px;
}

.center {
    text-align: center;
}

.stat-block-table {
    padding: 8px;
    border-collapse: collapse;
    border: white 1px solid;
    width: 100%;
    background-color: black;
    height: 250px;
}

.stat-block-table tr {
    border: white 1px solid;
    padding: 8px;
    width: 100%;
}

.stat-block-table td {
    width: calc(100% / 3);
    text-align: left;
    border: white 1px solid;
    padding: 8px;
}

.spellbook-container {
    display: block;
    margin: 0 auto;
    width: 95%;
    gap: 10px;
}

.spellbutton-container {
    display: flex;
    gap: 10px;
    margin: 10px;
    align-items: center;
}

.spellbutton-container > div {
    display: flex;
    gap: 10px;
}

.stat-card {
    margin: 0 auto;
    width: 250px;
}   

.stat-card-container {
    display: flex;
}

.hired-soldiers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.spellbook-table {
    width: 100%;
    border-collapse: collapse;
    border: white 1px solid;
    padding: 5px;
    background-color: black;
}

.spellbook-description {
    text-align: left;
    height: 175px;
    overflow-y: scroll;
}

.spellbook-table td {
    width: calc(100% / 4);
    border: white 1px solid;
    padding: 5px;
}

.apprentice-hire-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
    justify-content: center;
}

.no-soldier-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}